
<h2></h2>
<h3><img src="/Home/WykresLiniowy" /></h3>
<table><tr><td><h3><form action="poprzedni" method="post"><input type="submit" name="poprzedni" value="poprzedni" /></form></h3>    </td>
           <td><h3><form action="nastepny" method="post"><input type="submit" name="nastepny" value="następny" /></form></h3>   </td></tr>
</table>

